<p id="notice"><%= notice %></p>

<div class="card" style="width: 18rem;">
<p>
  <img src="..." class="card-img-top" alt="...">
  <%= @post.image %>
</p>

<div class="card-body">

<p>
  <h5 class="card-title">
  <%= @post.title %>
  </h5>
</p>

<p>
  <p class="card-text">
  <%= @post.post_content %>
  </p>
</p>

<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-secondary" %> 
<%= link_to 'Back', posts_path,  class:"btn btn-secondary"%>
</div>
</div>


